.App {
  text-align: center;
  font-family: 'Baloo 2';
  font-size: 20px;
}

a, a:hover,  a:active  {
  all: unset;
}

h2 {
  background-color: #63ca44;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h4 {
  background-color: #63ca44;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  color: #63ca44;
  padding: 0;
}

li { 
  padding: 10px;
  border-bottom: thin solid #63ca44;
}

input {
  display: block;
  padding: 10px;
  margin: 30px;
  width: calc(100% - 80px);
  border: 2px solid #63ca44;
  font-size: 20px;
}

input::placeholder {
  color: #63ca44;
}

.large {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list > li {
 
}

.back {
  background-color: rgb(170, 170, 170);
}

.selected {
  color: white;
  background-color: #63ca44;
  text-decoration: line-through;
}