body {
  --background: #87FFDA;
  --accent: #25604E;
  --text: #333333;

  background-color: var(--background);
}

.App {
  text-align: center;
  font-family: 'Baloo 2';
  font-size: 20px;
  color: var(--text);
}

a, a:hover,  a:active  {
  all: unset;
}

h2 {
  background-color: var(--text);
  color: var(--background);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h4 {
  background-color: var(--text);
  color: var(--background);
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li { 
  padding: 10px;
  border-bottom: thin solid var(--text);
}

input {
  display: block;
  padding: 10px;
  margin: 30px;
  width: calc(100% - 80px);
  border: 2px solid var(--text);
  background-color: var(--background);
  border-radius: 5px 5px 5px;
  font-size: 20px;
}

input::placeholder {
  color: var(--accent);
}

.large {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.back {
  background-color: var(--background);
  color: var(--text);
}

.selected {
  color: var(--text);
  background-color: var(--background);
  text-decoration: line-through;
}